body {
  --vscode-activityBar-background: #272822;
  --vscode-activityBar-dropBackground: #414339;
  --vscode-activityBar-foreground: #f8f8f2;
  --vscode-activityBar-inactiveForeground: rgba(248, 248, 242, 0.6);
  --vscode-activityBarBadge-background: #007acc;
  --vscode-activityBarBadge-foreground: #fff;
  --vscode-badge-background: #75715e;
  --vscode-badge-foreground: #f8f8f2;
  --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
  --vscode-breadcrumb-background: #272822;
  --vscode-breadcrumb-focusForeground: #e0e0e0;
  --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
  --vscode-breadcrumbPicker-background: #1e1f1c;
  --vscode-button-background: #75715e;
  --vscode-button-foreground: #fff;
  --vscode-button-hoverBackground: #8d8871;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugToolBar-background: #1e1f1c;
  --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
  --vscode-diffEditor-insertedTextBackground: rgba(102, 133, 40, 0.5);
  --vscode-diffEditor-removedTextBackground: rgba(144, 39, 74, 0.5);
  --vscode-dropdown-background: #414339;
  --vscode-dropdown-border: #414339;
  --vscode-dropdown-foreground: #f0f0f0;
  --vscode-dropdown-listBackground: #1e1f1c;
  --vscode-editor-background: #272822;
  --vscode-editor-findMatchBackground: #515c6a;
  --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
  --vscode-editor-font-family: -apple-system, system-ui, sans-serif;
  --vscode-editor-font-size: 13px;
  --vscode-editor-font-weight: 400;
  --vscode-editor-foreground: #f8f8f2;
  --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
  --vscode-editor-inactiveSelectionBackground: rgba(135, 139, 145, 0.25);
  --vscode-editor-lineHighlightBackground: #3e3d32;
  --vscode-editor-lineHighlightBorder: #282828;
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-selectionBackground: rgba(135, 139, 145, 0.5);
  --vscode-editor-selectionHighlightBackground: rgba(87, 91, 97, 0.5);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-wordHighlightBackground: rgba(74, 74, 118, 0.5);
  --vscode-editor-wordHighlightStrongBackground: rgba(106, 106, 150, 0.5);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --vscode-editorBracketMatch-border: #888;
  --vscode-editorCodeLens-foreground: #999;
  --vscode-editorCursor-foreground: #f8f8f0;
  --vscode-editorError-foreground: #ea4646;
  --vscode-editorGroup-border: #34352f;
  --vscode-editorGroup-dropBackground: rgba(65, 67, 57, 0.5);
  --vscode-editorGroupHeader-noTabsBackground: #272822;
  --vscode-editorGroupHeader-tabsBackground: #1e1f1c;
  --vscode-editorGutter-addedBackground: #587c0c;
  --vscode-editorGutter-background: #272822;
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-editorGutter-deletedBackground: #94151b;
  --vscode-editorGutter-modifiedBackground: #0c7d9d;
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-editorHoverWidget-background: #414339;
  --vscode-editorHoverWidget-border: #75715e;
  --vscode-editorHoverWidget-statusBarBackground: #4e5044;
  --vscode-editorIndentGuide-activeBackground: #767771;
  --vscode-editorIndentGuide-background: #464741;
  --vscode-editorInfo-foreground: #008000;
  --vscode-editorLineNumber-activeForeground: #c2c2bf;
  --vscode-editorLineNumber-foreground: #90908a;
  --vscode-editorLink-activeForeground: #4e94ce;
  --vscode-editorMarkerNavigation-background: #2d2d30;
  --vscode-editorMarkerNavigationError-background: #ea4646;
  --vscode-editorMarkerNavigationInfo-background: #008000;
  --vscode-editorMarkerNavigationWarning-background: #4d9e4d;
  --vscode-editorOverviewRuler-addedForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
  --vscode-editorOverviewRuler-deletedForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-findMatchForeground: rgba(246, 185, 77, 0.7);
  --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
  --vscode-editorOverviewRuler-infoForeground: rgba(18, 18, 136, 0.7);
  --vscode-editorOverviewRuler-modifiedForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-warningForeground: rgba(18, 136, 18, 0.7);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
  --vscode-editorPane-background: #272822;
  --vscode-editorRuler-foreground: #5a5a5a;
  --vscode-editorSuggestWidget-background: #272822;
  --vscode-editorSuggestWidget-border: #75715e;
  --vscode-editorSuggestWidget-foreground: #f8f8f2;
  --vscode-editorSuggestWidget-highlightForeground: #f8f8f2;
  --vscode-editorSuggestWidget-selectedBackground: #414339;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorWarning-foreground: #4d9e4d;
  --vscode-editorWhitespace-foreground: #464741;
  --vscode-editorWidget-background: #1e1f1c;
  --vscode-editorWidget-border: #454545;
  --vscode-errorForeground: #f48771;
  --vscode-extensionButton-prominentBackground: #327e36;
  --vscode-extensionButton-prominentForeground: #fff;
  --vscode-extensionButton-prominentHoverBackground: #28632b;
  --vscode-focusBorder: #75715e;
  --vscode-foreground: #ccc;
  --vscode-gitDecoration-addedResourceForeground: #81b88b;
  --vscode-gitDecoration-conflictingResourceForeground: #6c6cc4;
  --vscode-gitDecoration-deletedResourceForeground: #c74e39;
  --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
  --vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
  --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
  --vscode-gitDecoration-untrackedResourceForeground: #73c991;
  --vscode-input-background: #414339;
  --vscode-input-foreground: #ccc;
  --vscode-input-placeholderForeground: rgba(204, 204, 204, 0.5);
  --vscode-inputOption-activeBorder: #75715e;
  --vscode-inputValidation-errorBackground: #90274a;
  --vscode-inputValidation-errorBorder: #f92672;
  --vscode-inputValidation-infoBackground: #546190;
  --vscode-inputValidation-infoBorder: #819aff;
  --vscode-inputValidation-warningBackground: #848528;
  --vscode-inputValidation-warningBorder: #e2e22e;
  --vscode-list-activeSelectionBackground: #75715e;
  --vscode-list-activeSelectionForeground: #fff;
  --vscode-list-dropBackground: #414339;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-focusBackground: #414339;
  --vscode-list-highlightForeground: #f8f8f2;
  --vscode-list-hoverBackground: #3e3d32;
  --vscode-list-inactiveSelectionBackground: #414339;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-warningForeground: #4d9e4d;
  --vscode-listFilterWidget-background: #653723;
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-menu-background: #1e1f1c;
  --vscode-menu-foreground: #ccc;
  --vscode-menu-selectionBackground: #75715e;
  --vscode-menu-selectionForeground: #fff;
  --vscode-menu-separatorBackground: #bbb;
  --vscode-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
  --vscode-menubar-selectionForeground: #ccc;
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --vscode-notificationCenterHeader-background: #272825;
  --vscode-notificationLink-foreground: #3794ff;
  --vscode-notifications-background: #1e1f1c;
  --vscode-notifications-border: #272825;
  --vscode-panel-background: #272822;
  --vscode-panel-border: #414339;
  --vscode-panel-dropBackground: rgba(255, 255, 255, 0.12);
  --vscode-panelTitle-activeBorder: #75715e;
  --vscode-panelTitle-activeForeground: #f8f8f2;
  --vscode-panelTitle-inactiveForeground: #75715e;
  --vscode-peekView-border: #75715e;
  --vscode-peekViewEditor-background: #272822;
  --vscode-peekViewEditor-matchHighlightBackground: #75715e;
  --vscode-peekViewEditorGutter-background: #272822;
  --vscode-peekViewResult-background: #1e1f1c;
  --vscode-peekViewResult-fileForeground: #fff;
  --vscode-peekViewResult-lineForeground: #bbb;
  --vscode-peekViewResult-matchHighlightBackground: #75715e;
  --vscode-peekViewResult-selectionBackground: #414339;
  --vscode-peekViewResult-selectionForeground: #fff;
  --vscode-peekViewTitle-background: #1e1f1c;
  --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --vscode-peekViewTitleLabel-foreground: #fff;
  --vscode-pickerGroup-border: #3f3f46;
  --vscode-pickerGroup-foreground: #75715e;
  --vscode-progressBar-background: #75715e;
  --vscode-scrollbar-shadow: #000;
  --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-selection-background: #ccccc7;
  --vscode-settings-checkboxBackground: #414339;
  --vscode-settings-checkboxBorder: #414339;
  --vscode-settings-checkboxForeground: #f0f0f0;
  --vscode-settings-dropdownBackground: #414339;
  --vscode-settings-dropdownBorder: #414339;
  --vscode-settings-dropdownForeground: #f0f0f0;
  --vscode-settings-dropdownListBorder: #454545;
  --vscode-settings-headerForeground: #e7e7e7;
  --vscode-settings-modifiedItemIndicator: #0c7d9d;
  --vscode-settings-numberInputBackground: #32342d;
  --vscode-settings-numberInputForeground: #ccc;
  --vscode-settings-textInputBackground: #32342d;
  --vscode-settings-textInputForeground: #ccc;
  --vscode-sideBar-background: #1e1f1c;
  --vscode-sideBar-dropBackground: rgba(255, 255, 255, 0.12);
  --vscode-sideBarSectionHeader-background: #272822;
  --vscode-statusBar-background: #414339;
  --vscode-statusBar-debuggingBackground: #75715e;
  --vscode-statusBar-debuggingForeground: #fff;
  --vscode-statusBar-foreground: #fff;
  --vscode-statusBar-noFolderBackground: #414339;
  --vscode-statusBar-noFolderForeground: #fff;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-hostBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-tab-activeBackground: #272822;
  --vscode-tab-activeForeground: #fff;
  --vscode-tab-activeModifiedBorder: #39c;
  --vscode-tab-border: #1e1f1c;
  --vscode-tab-inactiveBackground: #34352f;
  --vscode-tab-inactiveForeground: #ccccc7;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveForeground: rgba(204, 204, 199, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-terminal-ansiBlack: #333;
  --vscode-terminal-ansiBlue: #6a7ec8;
  --vscode-terminal-ansiBrightBlack: #666;
  --vscode-terminal-ansiBrightBlue: #819aff;
  --vscode-terminal-ansiBrightCyan: #66d9ef;
  --vscode-terminal-ansiBrightGreen: #a6e22e;
  --vscode-terminal-ansiBrightMagenta: #ae81ff;
  --vscode-terminal-ansiBrightRed: #f92672;
  --vscode-terminal-ansiBrightWhite: #f8f8f2;
  --vscode-terminal-ansiBrightYellow: #e2e22e;
  --vscode-terminal-ansiCyan: #56adbc;
  --vscode-terminal-ansiGreen: #86b42b;
  --vscode-terminal-ansiMagenta: #8c6bc8;
  --vscode-terminal-ansiRed: #c4265e;
  --vscode-terminal-ansiWhite: #e3e3dd;
  --vscode-terminal-ansiYellow: #b3b42b;
  --vscode-terminal-background: #272822;
  --vscode-terminal-border: #414339;
  --vscode-terminal-foreground: #ccc;
  --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
  --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --vscode-textLink-activeForeground: #3794ff;
  --vscode-textLink-foreground: #3794ff;
  --vscode-textPreformat-foreground: #d7ba7d;
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-titleBar-activeBackground: #1e1f1c;
  --vscode-titleBar-activeForeground: #ccc;
  --vscode-titleBar-inactiveBackground: rgba(30, 31, 28, 0.6);
  --vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
  --vscode-widget-shadow: #000;
}
